.body{
   
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0px !important;
    padding-bottom: 30px;
    
}
.body *{
border-radius: 10px;
background-color: white;


}
.longStory_1{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 300px;
    height: auto;
    margin-bottom: 30px;
   
}
.authorsProfile,.communityProfile{
    background-color: black !important;
}
.authorsProfile>h2,.communityProfile>h2{
    background-color: black !important;
    color: white;
}
.shortStory_withoutCover_2,.longStory_2{
    margin-bottom: 30px;
}
.shortStory_1{
    background-color: white;
    margin-bottom: 30px;
}
@media screen and (max-width:1000px ) {
    .longStory_1{
        grid-template-rows: 250px 200px;
        grid-template-columns:1fr ;

    }
}
@media screen and (max-width:750px) {
    .longStory_1{
        grid-row-gap: 50px;
    }
    
}